<% include header.ejs%>
           
    
    <div id="main_content">
        <div class="tieude_giua"><div>Công ty</div><span></span></div>
<div class="box_container">
<div class="wap_box_new">
 	        <div class="box_news">
            <a href="thu-ngo/" title="THƯ NGỎ"><img src="/images/thu-ngo4066_170x130.jpg" alt="THƯ NGỎ"></a>
            <h3><a href="thu-ngo/" title="THƯ NGỎ">THƯ NGỎ</a></h3>
            <div class="mota">Trước hết, TTCompany xin chân thành cảm ơn tất cả các Quý vị đã đồng hành, ủng hộ TTCompany trong suốt chặng đường phát triển vừa qua.

 Ý nghĩa cuộc sống nằm ở sự đóng góp của chúng ta cho bản thân và xã hội. Mỗi chủ thể luôn là thành...</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="/he-tu-tuong-cot-loi/" title="HỆ TƯ TƯỞNG CỐT LÕI"><img src="/images/htt24918_170x130.jpg" alt="HỆ TƯ TƯỞNG CỐT LÕI"></a>
            <h3><a href="/he-tu-tuong-cot-loi/" title="HỆ TƯ TƯỞNG CỐT LÕI">HỆ TƯ TƯỞNG CỐT LÕI</a></h3>
            <div class="mota">Những người TTCompany cùng nhau hướng tới mục đích cốt lõi, biến tầm nhìn thành hiện thực; cùng nhau thực hiện tốt mục tiêu, kế hoạch đề ra; cùng nhau chia sẻ, tôn vinh và sống cùng các giá trị cốt lõi; cùng nhau xây dựng ngày càng tốt...</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
    </div><!---END .wap_box_new-->
<div class="clear"></div>
</div><!---END .box_container--> 
    </div><!---END #main_content-->
    
    
    
        
    

<% include footer.ejs %>