<!doctype html>
<html lang="vi">

<head>
    <link rel="canonical" href="http://Đầu Tư Kinh Doanh T.T.vn/index.php">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="SHORTCUT ICON" href="/upload/hinhanh/logo-80049821_32x20.png" type="image/x-icon">
    <meta name="ROBOTS" content="noodp,index,follow">
    <meta name="author" content="CÔNG TY TNHH Đầu Tư Kinh Doanh T.T">
    <meta name="copyright" content="CÔNG TY TNHH Đầu Tư Kinh Doanh T.T [info@Đầu Tư Kinh Doanh T.T.vn]">
    <!--Meta seo web-->
    <title>CÔNG TY TNHH Đầu Tư Kinh Doanh T.T</title>
    <meta name="keywords" content="Kính in Ceramic, KÍNH SƠN MÀU, Kính phản quang, KÍNH CẢN NHIỆT, Kính ghép, Kính cường lực, Kính hộp, Đầu Tư Kinh Doanh T.T">
    <meta name="description" content="Với phương châm hoạt động Uy tín là trên hết, sau hơn 6 năm hoạt động thương hiệu Đầu Tư Kinh Doanh T.T đã xây dựng được hình ảnh tốt trên thị trường">
    <!--Meta seo web-->
    <!--Meta Geo-->
    <meta name="DC.title" content="CÔNG TY TNHH Đầu Tư Kinh Doanh T.T">
    <meta name="geo.region" content="VN">
    <meta name="geo.placename" content="Lô 21/II - 22/II KCN Vĩnh Lộc, Đường Số 2B, P. Bình Hưng Hòa B, Q.Bình Tân, Hồ Chí Minh">
    <meta name="geo.position" content="10.820623679302738:106.59635444171727">
    <meta name="ICBM" content="10.820623679302738,106.59635444171727">
    <meta name="DC.identifier" content="http://Đầu Tư Kinh Doanh T.T.vn/">
    <!--Meta Geo-->
    <!--Meta Ngôn ngữ-->
    <meta name="language" content="Việt Nam">
    <meta http-equiv="content-language" content="vi">
    <meta content="VN" name="geo.region">
    <meta name="DC.language" scheme="utf-8" content="vi">
    <meta property="og:locale" content="vi_VN">
    <!--Meta Ngôn ngữ-->
    <!--Meta facebook-->
    <meta property="og:image" content="hinhanh_1.html">
    <meta property="og:title" content="CÔNG TY TNHH Đầu Tư Kinh Doanh T.T">
    <meta property="og:url" content="http://Đầu Tư Kinh Doanh T.T.vn/">
    <meta property="og:site_name" content="http://Đầu Tư Kinh Doanh T.T.vn/">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="CÔNG TY TNHH Đầu Tư Kinh Doanh T.T">
    <!--Meta facebook-->
    <script type="text/javascript" src="/js/addthis_widget.js" async="async"></script>
    <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-550a87e8683b580f" async="async"></script>-->


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.async=true;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!--Meta facebook-->   	<link type="text/css" rel="stylesheet" href="/css/jquery.mmenu.all.css">
    <link href="/css/popup.css" type="text/css" rel="stylesheet">
    <link href="/css/default.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/my_script.js"></script>
    <script src="/js/plugins-scroll.js" type="text/javascript"></script>
    <link href="/css/font-awesome.css" type="text/css" rel="stylesheet">

    <!--Menu mobile-->
    <script type="text/javascript" src="/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript">
        $(function() {
            $m = $('nav#menu').html();
            $('nav#menu_mobi').append($m);
            $('nav#menu_mobi .search').addClass('search_mobi').removeClass('search');
            $('.hien_menu').click(function(){
                $('nav#menu_mobi').css({height: "auto"});
            });
            $('.user .fa-user-plus').toggle(function(){
                $('.user ul').slideDown(300);
            },function(){
                $('.user ul').slideUp(300);
            });

            $('nav#menu_mobi').mmenu({
                extensions	: [ 'effect-slide-menu', 'pageshadow' ],
                searchfield	: true,
                counters	: true,
                navbar 		: {
                    title		: 'Menu'
                },
                navbars		: [
                    {
                        position	: 'top',
                        content		: [ 'searchfield' ]
                    }, {
                        position	: 'top',
                        content		: [
                            'prev',
                            'title',
                            'close'
                        ]
                    }, {
                        position	: 'bottom',
                        content		: [
                            '<a>Online : 2</a>',
                            '<a>Tổng : 75708</a>'
                        ]
                    }
                ]
            });
        });
    </script>
    <!--Menu mobile-->

    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#slider_slick').slick({
                //vertical:true,Chay dọc
                //fade: true,//Hiệu ứng fade của slider
                //slidesPerRow: 2,
                //cssEase: 'linear',//Chạy đều
                //lazyLoad: 'progressive',
                infinite: true,//Lặp lại
                accessibility:true,
                slidesToShow: 1,    //Số item hiển thị
                slidesToScroll: 1, //Số item cuộn khi chạy
                autoplay:true,  //Tự động chạy
                autoplaySpeed:3000,  //Tốc độ chạy
                speed:1000,//Tốc độ chuyển slider
                arrows:true, //Hiển thị mũi tên
                centerMode:false,  //item nằm giữa
                dots:false,  //Hiển thị dấu chấm
                draggable:true,  //Kích hoạt tính năng kéo chuột
                mobileFirst:true,
                pauseOnHover:true,
                //variableWidth: true//Không fix kích thước
            });
        });
    </script>


    <!--animate hiệu ứng-->
    <link href="/css/animate.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
    <!--animate hiệu ứng-->

    <!--Tooltip hình ảnh
    <script type="text/javascript" src="js/ImageTooltip.js"></script>
    <!--Tooltip hình ảnh-->

    <!--Tooltip có nội dung
    <script src="Toolstip/ajax.js" type="text/javascript"></script>
    <script src="Toolstip/ajax-dynamic-content.js" type="text/javascript"></script>
    <script src="Toolstip/home.js" type="text/javascript"></script>
    <link href="Toolstip/tootstip.css" rel="stylesheet" type="text/css" />
    Tooltip có nội dung-->

    <script type="text/javascript" src="/js/ImageScroller.js"></script>

    <!--lazyload-->
    <script type="text/javascript" src="/js/jquery.lazyload.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".item img").lazyload({
                //placeholder : "images/load.gif",
                effect : "fadeIn",
            });
        });
    </script>
    <!--lazyload-->

    <!--Thêm alt cho hình ảnh-->
    <script type="text/javascript">
        $(document).ready(function(e) {
            $('img').each(function(index, element) {
                if(!$(this).attr('alt') || $(this).attr('alt')=='')
                {
                    $(this).attr('alt','CÔNG TY TNHH Đầu Tư Kinh Doanh T.T');
                }
            });
        });
    </script>
    <!--Thêm alt cho hình ảnh-->
    <!--Tim kiem-->
    <script language="javascript">
        function doEnter(evt){
            var key;
            if(evt.keyCode == 13 || evt.which == 13){
                onSearch(evt);
            }
        }
        function onSearch(evt) {
            var keyword1 = $('.keyword:eq(0)').val();
            var keyword2 = $('.keyword:eq(1)').val();

            if(keyword1=='Nhập từ khóa tìm kiếm...')
            {
                keyword = keyword2;
            }
            else
            {
                keyword = keyword1;
            }
            if(keyword=='' || keyword=='Nhập từ khóa tìm kiếm...')
            {
                alert('Bạn chưa nhập từ khóa tìm kiếm');
            }
            else{
                location.href = "tim-kiem.html&keyword="+keyword;
                loadPage(document.location);
            }
        }
    </script>

</head>

<body onload="" style="background:#ffffff">

<h1 class="fn" style="position:absolute; top:-1000px;">CÔNG TY TNHH Đầu Tư Kinh Doanh T.T</h1>
<h2 style="position:absolute; top:-1000px;">CÔNG TY TNHH Đầu Tư Kinh Doanh T.T</h2>
<h3 style="position:absolute; top:-1000px;">CÔNG TY TNHH Đầu Tư Kinh Doanh T.T</h3>

<div id="wapper">
    <div id="header">

        <div class="box_header" style="background: url('/images/banner-5208.png') no-repeat;">
            <div class="left_header">
                <a href="" class="logo">
                    <img src="/images/logo-8004.png">
                </a>
            </div>
            <div class="middle_header">
                <div class="diachi">
                    <p>Uy Tín - Chất Lượng - Chuyên Nghiệp</p>
                </div>
            </div>
            <div class="right_header">
                <div id="lang">
                    <a href="index.php?com=ngonngu&lang=en" title="English"><img src="/images/en.png" alt="English"> </a>
                    <a href="index.php?com=ngonngu&lang=" title="Việt Nam"><img src="/images/vi.png" alt="Việt Nam"></a>
                </div><!--END #lang-->
            </div>
        </div>


    </div><!---END #header-->

    <div class="wap_menu">
        <div class="menu">
            <!--Hover menu-->
            <script language="javascript" type="text/javascript">
                $(document).ready(function() {
                    //Hover vào menu xổ xuống
                    $(".menu ul li").hover(function(){
                        $(this).find('ul:first').css({visibility: "visible",display: "none"}).show(300);
                    },function(){
                        $(this).find('ul:first').css({visibility: "hidden"});
                    });
                    $(".menu ul li").hover(function(){
                        $(this).find('>a').addClass('active2');
                    },function(){
                        $(this).find('>a').removeClass('active2');
                    });
                    //Hover vào danh mục xổ xuống
                    /*$("#danhmuc ul li").hover(function(){
                        $(this).find('ul:first').show(300);
                    },function(){
                        $(this).find('ul:first').hide(300);
                    }); */
                    //Click vào danh mục xổ xuống
                    $("#danhmuc > ul > li > a").click(function(){
                        if($(this).parents('li').children('ul').find('li').length>0)
                        {
                            $("#danhmuc ul li ul").hide(300);

                            if($(this).hasClass('active'))
                            {
                                $("#danhmuc ul li a").removeClass('active');
                                $(this).parents('li').find('ul:first').hide(300);
                                $(this).removeClass('active');
                            }
                            else
                            {
                                $("#danhmuc ul li a").removeClass('active');
                                $(this).parents('li').find('ul:first').show(300);
                                $(this).addClass('active');
                            }
                            return false;
                        }
                    });
                });
            </script>
            <!--Hover menu-->

            <nav id="menu_mobi" style="height:0; overflow:hidden;"></nav>
            <div class="header"><a href="#menu_mobi" class="hien_menu"><i class="fa fa-bars" aria-hidden="true"></i> <i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </div>

            <nav id="menu">
                <ul>
                    <li><a class="active" id="trangchu" href="/">Trang chủ</a></li>

                    <li><a class="" id="congty" href="/cong-ty">Công ty</a></li>

                    <li><a class="" id="vatlieu" href="/vat-lieu">Vật liệu</a></li>

                    <li><a class="" id="catalouge">1 số công trình trong vài năm qua</a>
                    </li>


                    <li><a class="" id="sanpham" href="/san-pham">Sản phẩm</a>
                    </li>

                    <li><a class="" id="tintuc" href="/tin-tuc">Công Trình</a></li>


                    <li><a class="" id="lienhe" href="/lien-he">Liên hệ</a></li>
                </ul>

            </nav>        </div><!---END .menu-->
    </div><!---END .wap_menu-->
