<% include header.ejs%>
    		<div id="slider">
	        <link href="/css/css_jssor_slider.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/js/jssor.js"></script>
<script type="text/javascript" src="/js/jssor.slider.js"></script>
<script type="text/javascript" src="/js/js_jssor_slider.js"></script>

<div id="slider1_container" style="position: relative;width: 1366px; height: 530px;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move;width: 1366px; height: 530px;overflow: hidden;">
		<div>
			<a href="">
				<img u="image" src="http://trungkinhcomplex.com/wp-content/uploads/sites/71/2015/12/vinhomes-gardenia.jpg" alt="">
			</a>
		</div>
                <div>
            <a href="">
                <img u="image" src="http://vinhomes-bason.vn/wp-content/uploads/sites/7/2016/01/vinhomes-golden-river-1.jpg" alt="">
            </a>
        </div>

                <div>
            <a href="">
                <img u="image" src="http://vinhomemetropolislieugiai.com/wp-content/uploads/sites/31/2017/07/vinhomes-metropolis-lieu-giai.jpg" alt="">
            </a>
        </div>

                <div>
            <a href="">
                <img u="image" src="http://vinhomesaigon.org/wp-content/uploads/2015/07/Rendering_-Landscape-View-1-Rev-A.jpg" alt="">
            </a>
        </div>
                <div>
            <a href="">
                <img u="image" src="http://vinhomesmydinh.com/wp-content/uploads/sites/112/2016/11/vuon-choi-co-gardenia.jpg" alt="">
            </a>
        </div>
                

                        
    </div>
    <!-- Trigger -->
          
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora05l" style="top:40%;"></span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora05r" style="top:40%;"></span>
</div><!-- Jssor Slider End -->
        

    
 	    </div><!---END #slider-->
	       
    		<div id="about">
			<div class="wrap1200">
				<div class="tieude_about">
	<p>Về chúng tôi</p>
</div>
<div class="left_about">	
	<div class="box_img_about1">
		<div class="image_about1 hover_sang1">
			<a href="thu-ngo/">
				<img src="images/thu-ngo-2123.jpg" alt="THƯ NGỎ">
			</a>
		</div>
	</div>	
	<div class="describe_about">
		<a href="thu-ngo/">
			<p>THƯ NGỎ</p>
		</a>
		<p>Trước hết, T.T xin chân thành cảm ơn tất cả các Quý vị đã đồng hành, ủng hộ T.T trong suốt chặng đường phát triển vừa qua.

 Ý nghĩa cuộc sống nằm ở sự đóng góp của chúng ta cho bản thân và xã hội. Mỗi chủ thể luôn là thành...</p>
	</div>				
</div>
<div class="left_about">	
	<div class="box_img_about1">
		<div class="image_about1 hover_sang1">
			<a href="he-tu-tuong-cot-loi/">
				<img src="images/htt2-2678.jpg" alt="HỆ TƯ TƯỞNG CỐT LÕI">
			</a>
		</div>
	</div>	
	<div class="describe_about">
		<a href="he-tu-tuong-cot-loi/">
			<p>HỆ TƯ TƯỞNG CỐT LÕI</p>
		</a>
		<p>Những người T.T cùng nhau hướng tới mục đích cốt lõi, biến tầm nhìn thành hiện thực; cùng nhau thực hiện tốt mục tiêu, kế hoạch đề ra; cùng nhau chia sẻ, tôn vinh và sống cùng các giá trị cốt lõi; cùng nhau xây dựng ngày càng tốt...</p>
	</div>				
</div>
			</div>	        
	        <div class="clear"></div>
	    </div><!---END #about-->
	
    <div id="main_content">
         
    </div><!---END #main_content-->
    
    		<div id="spnoibat">			
			<div class="background_spnoibat" style="background: url(images/bgspnoibat-7824.png) no-repeat;">
  <div class="wrap1200">
    <div class="tieude_giua"><div>Sản phẩm chúng tôi</div><span></span></div>
    <div class="wap_item">
		<div class="item">
			<p class="sp_img zoom_hinh hover_sang1"><a href="/san-pham/op-bep" title="Ốp Bếp">
					<img src="https://lh6.googleusercontent.com/InWCz-gIOfgfHDn-bAPh6xmKAfMCO5NKOnJD_tmWWeCnfyBNe_b1fxEnl9zwWZakrM4AAdTK6tiwi084q1is=w1366-h613-rw" alt="Ốp Bếp" style="height: 250px"></a></p>
			<div class="boxten" style="height: 135px;">
				<h3 class="sp_name"><a href="/san-pham/op-bep" title="Ốp Bếp">Ốp Bếp</a></h3>
				<p class="sp_mota"></p>
			</div>
		</div>

		<div class="item">
			<p class="sp_img zoom_hinh hover_sang1"><a href="/san-pham/kinh-phong-tam" title="Kính Phòng Tắm">
					<img src="https://lh4.googleusercontent.com/KB_BBTPIJyMA1yAN02I1yeVgEV4ti2r7B3IUys0QiU6RbkgKLT4whIZ2vGl9AXcZ2VlPvGbLfon0X9ESvAer=w1366-h613-rw" alt="PHÒNG TẮM KÍNH- Glass Shower " style="height: 250px"></a></p>
			<div class="boxten" style="height: 135px;">
				<h3 class="sp_name"><a href="/san-pham/kinh-phong-tam" title="Kính Phòng Tắm">Kính Phòng Tắm</a></h3>
				<p class="sp_mota"></p>
			</div>
		</div>
		<div class="item">
			<p class="sp_img zoom_hinh hover_sang1"><a href="/san-pham/kinh-trang-tri" title="Kính Trang Trí">
					<img src="https://lh5.googleusercontent.com/2DxhnJYRzCnRyI0F304oFa9AhRhptbEZQGfNUU_mdWwnoCrI12WAzT6Uwv6i4xGJSaetDgmQTjwEvjm_Knuj=w1366-h613-rw" alt="Kính Trang Trí" style="height: 250px"></a></p>
			<div class="boxten" style="height: 135px;">
				<h3 class="sp_name"><a href="/san-pham/kinh-trang-tri" title="Kính Trang Trí">Kính Trang Trí</a></h3>
				<p class="sp_mota"></p>
			</div>
		</div>
		<div class="item">
			<p class="sp_img zoom_hinh hover_sang1"><a href="/san-pham/kinh-duc" title="kính đúc">
					<img src="https://lh6.googleusercontent.com/zbqCc6_1jwZfv8NK4P7KOTmelHMdztDznXlaQ0OxQKlNkxKj_oDLZI8wHAcWGd62i15Z9wElsg-kaQ6apQGb=w1366-h613-rw" style="height: 250px"></a></p>
			<div class="boxten" style="height: 135px;">
				<h3 class="sp_name"><a href="/san-pham/kinh-duc" title="kính đúc">kính đúc</a></h3>
				<p class="sp_mota"></p>
			</div>
		</div>
		<div class="item">
			<p class="sp_img zoom_hinh hover_sang1"><a href="/san-pham/kinh-khac" title="kính khắc">
					<img src="https://lh3.googleusercontent.com/vS6e8HkZAOO7jo6D0YcMUlJ5qmrdb35pB-jTNeGiXXxILzMTj4i85kFDFt6q5znrgTUj1uZwjCd4GjvDn2mD=w1366-h613" alt="kính khắc" style="height: 250px"></a></p>
			<div class="boxten" style="height: 135px;">
				<h3 class="sp_name"><a href="/san-pham/kinh-khac" title="kính khắc">kính khắc</a></h3>
				<p class="sp_mota"></p>
			</div>
		</div>
		<div class="item">
			<p class="sp_img zoom_hinh hover_sang1"><a href="/san-pham/kinh-nhom" title="nhôm kính">
					<img src="https://lh4.googleusercontent.com/somhGtpWRq0AH9oZRZMetQ59K1Wp7orREfN_KyubEk2kaDC0bPuC4GWrMpen85ZebQ-AnGw3gwbixx3iEUZ6=w1366-h613-rw" alt="kính nhôm" style="height: 250px"></a></p>
			<div class="boxten" style="height: 135px;">
				<h3 class="sp_name"><a href="/san-pham/kinh-nhom" title="kính nhôm">nhôm kính</a></h3>
				<p class="sp_mota"></p>
			</div>
		</div>
		<div class="item">
			<p class="sp_img zoom_hinh hover_sang1"><a href="/san-pham/kinh-in" title="kính in">
					<img src="https://lh3.googleusercontent.com/cVf5syFIRRgw77mfy8zHzgPNypBgruZkXTBrrgAyA2emFi7NMQkZN8X5BjGVIf3FeDjqJq9hBTo_i6mLaZCX=w1366-h613-rw" alt="kính in" style="height: 250px"></a></p>
			<div class="boxten" style="height: 135px;">
				<h3 class="sp_name"><a href="/san-pham/kinh-in" title="kính in">kính in</a></h3>
				<p class="sp_mota"></p>
			</div>
		</div>


        <div class="clear"></div>
    </div><!---END .wap_item-->
  </div>
</div>  
	        <div class="clear"></div>
	    </div><!---END #spnoibat-->
	
    		<div id="news">
			<div class="wrap1200">
				<div class="cover_news">
	<div class="wrap1200">
		<div class="left_news">
			<div class="tieude_news">
				<div>Vật liệu</div>
			</div>
			<div class="cover_news">
				<div class="left_info_news">
					<div class="img_left_info_news zoom_hinh hover_sang1">
						<a href="kinh-phan-quang-reflective-glass/"><img src="images/kinh-phan-quang-1-7619.jpg"></a>
					</div>
					<div class="left_describle_news">
						<a href="kinh-phan-quang-reflective-glass/"><h4>Kính phản quang - Reflective glass</h4></a>
						<p>Là loại kính được phủ lên một loại hóa chất đặc biệt có tính năng phản xạ...</p>
					</div>
					<div class="xemthem_news">
						<a href="kinh-phan-quang-reflective-glass/">Xem thêm</a>
					</div>
				</div>
				<div class="right_box_news">
					<div class="slider_d3">
														<div class="right_box_news2">
									<div class="right_img_news zoom_hinh hover_sang1">
										<a href="kinh-ghep-lamilated-glass/"><img src="images/kinh-ghep-1-9913.jpg"></a>
									</div>
									<div class="right_describle_news">
										<a href="kinh-ghep-lamilated-glass/">
											<h4>Kính ghép- Lamilated...</h4>
										</a>
										<p class="mota">Gồm 2 hay nhiều lớp kính được dán với nhau bởi lớp phim PVB. Phim dán bao gồm các...</p>	
									</div>
								</div>
															<div class="right_box_news2">
									<div class="right_img_news zoom_hinh hover_sang1">
										<a href="kinh-cuong-luc-tempered-glass/"><img src="images/kinh-cuong-luc-3817.jpg"></a>
									</div>
									<div class="right_describle_news">
										<a href="kinh-cuong-luc-tempered-glass/">
											<h4>Kính cường lực...</h4>
										</a>
										<p class="mota">Kính cường lực được sản xuất theo phương pháp gia cường dao động ngang trên dây...</p>	
									</div>
								</div>
															<div class="right_box_news2">
									<div class="right_img_news zoom_hinh hover_sang1">
										<a href="kinh-can-nhiet-lowe/"><img src="images/kinh-can-nhiet-7618.jpg"></a>
									</div>
									<div class="right_describle_news">
										<a href="kinh-can-nhiet-lowe/">
											<h4>KÍNH CẢN NHIỆT ...</h4>
										</a>
										<p class="mota">Kính Low-E là loại kính được phủ lên bề mặt một loại hợp chất đặc biệt giúp...</p>	
									</div>
								</div>
															<div class="right_box_news2">
									<div class="right_img_news zoom_hinh hover_sang1">
										<a href="kinh-hop-insulating-glass/"><img src="images/kinh-hop-1-1230.jpg"></a>
									</div>
									<div class="right_describle_news">
										<a href="kinh-hop-insulating-glass/">
											<h4>Kính hộp - Insulating...</h4>
										</a>
										<p class="mota">Kính hộp được sử dụng hầu hết cho các dạng công trình như: cao ốc văn phòng,...</p>	
									</div>
								</div>
															<div class="right_box_news2">
									<div class="right_img_news zoom_hinh hover_sang1">
										<a href="kinh-phan-quang-reflective-glass/"><img src="images/kinh-phan-quang-1-7619_1.jpg"></a>
									</div>
									<div class="right_describle_news">
										<a href="kinh-phan-quang-reflective-glass/">
											<h4>Kính phản quang -...</h4>
										</a>
										<p class="mota">Là loại kính được phủ lên một loại hóa chất đặc biệt có tính năng phản xạ...</p>	
									</div>
								</div>
								
					</div>			
				</div>											
			</div>
			<div class="clear"></div>	
		</div>

	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.slider_d3').slick({
		  	lazyLoad: 'ondemand',
        	infinite: true,//Hiển thì 2 mũi tên
			accessibility:true,
			vertical:true,//Chay dọc
		  	slidesToShow: 3,    //Số item hiển thị
		  	slidesToScroll: 1, //Số item cuộn khi chạy
		  	autoplay:true,  //Tự động chạy
			autoplaySpeed:3000,  //Tốc độ chạy
			speed:1000,
			arrows:false, //Hiển thị mũi tên
			centerMode:false,  //item nằm giữa
			dots:false,  //Hiển thị dấu chấm
			draggable:true,  //Kích hoạt tính năng kéo chuột
			mobileFirst:true
      });
	});
</script>			</div>	        
	        <div class="clear"></div>
	    </div><!---END #news-->
	
    		<div id="doitac">
			<div class="wrap1200">
				<script src="js/hiei.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript">
marqueeInit({
	uniqueid: 'mycrawler2',
	style: {'width': '100% !important'},
	inc: 5, //speed - pixel increment for each iteration of this marquee's movement
	mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
	moveatleast:1,
	neutral: 150,
	savedirection: true,
	random: true
});
</script>    


	        <div class="clear"></div>
	    </div><!---END #doitac-->
	    
    
 	<% include footer.ejs%>