<% include header.ejs %>
    <div id="main_content">
        <div class="tieude_giua"><div>Sản phẩm</div><span></span></div>
<div class="box_container">
<div class="wap_box_new">
 	        <div class="box_news">
            <a href="ban-ghe/" title="BÀN GHẾ"><img src="images/glass-top-dining-table-with-original-base-5-copy7562_170x130.jpg" alt="BÀN GHẾ"></a>      
            <h3><a href="ban-ghe/" title="BÀN GHẾ">BÀN GHẾ</a></h3>
            <div class="mota"></div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-duc-catsting-glass/" title="KÍNH ĐÚC - Catsting glass"><img src="images/img_47852835_170x130.jpg" alt="KÍNH ĐÚC - Catsting glass"></a>      
            <h3><a href="kinh-duc-catsting-glass/" title="KÍNH ĐÚC - Catsting glass">KÍNH ĐÚC - Catsting glass</a></h3>
            <div class="mota"></div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-hoa-van-mo-acid-etched-glass/" title="KÍNH HOA VĂN MỜ - Acid etched glass"><img src="images/img_72527462_170x130.jpg" alt="KÍNH HOA VĂN MỜ - Acid etched glass"></a>      
            <h3><a href="kinh-hoa-van-mo-acid-etched-glass/" title="KÍNH HOA VĂN MỜ - Acid etched glass">KÍNH HOA VĂN MỜ - Acid etched glass</a></h3>
            <div class="mota"></div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="vp-glasso-2013/" title="VP GLASSO 2013"><img src="images/glasso7933_170x130.jpg" alt="VP GLASSO 2013"></a>      
            <h3><a href="vp-glasso-2013/" title="VP GLASSO 2013">VP GLASSO 2013</a></h3>
            <div class="mota"></div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="cong-trinh-eximbank-ky-dong-q3-hcm/" title="CÔNG TRÌNH EXIMBANK KỲ ĐỒNG, Q3, HCM"><img src="images/1-17698_170x130.jpg" alt="CÔNG TRÌNH EXIMBANK KỲ ĐỒNG, Q3, HCM"></a>      
            <h3><a href="cong-trinh-eximbank-ky-dong-q3-hcm/" title="CÔNG TRÌNH EXIMBANK KỲ ĐỒNG, Q3, HCM">CÔNG TRÌNH EXIMBANK KỲ ĐỒNG, Q3, HCM</a></h3>
            <div class="mota"></div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="phong-tam-kinh-glass-shower/" title="PHÒNG TẮM KÍNH- Glass Shower "><img src="images/img_23964798_170x130.jpg" alt="PHÒNG TẮM KÍNH- Glass Shower "></a>      
            <h3><a href="phong-tam-kinh-glass-shower/" title="PHÒNG TẮM KÍNH- Glass Shower ">PHÒNG TẮM KÍNH- Glass Shower </a></h3>
            <div class="mota"></div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-op-bep-kitchen-glass-splashback/" title="KÍNH ỐP BẾP- Kitchen glass splashback"><img src="images/dsc_00565027_170x130.jpg" alt="KÍNH ỐP BẾP- Kitchen glass splashback"></a>      
            <h3><a href="kinh-op-bep-kitchen-glass-splashback/" title="KÍNH ỐP BẾP- Kitchen glass splashback">KÍNH ỐP BẾP- Kitchen glass splashback</a></h3>
            <div class="mota"></div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="switch-glass/" title="SWITCH GLASS"><img src="images/tai-xuong-(2)0946_170x130.jpg" alt="SWITCH GLASS"></a>      
            <h3><a href="switch-glass/" title="SWITCH GLASS">SWITCH GLASS</a></h3>
            <div class="mota"></div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-in-ceramic-ceramic-printing-glass/" title="Kính in Ceramic - Ceramic printing glass"><img src="images/untitled3283_170x130.jpg" alt="Kính in Ceramic - Ceramic printing glass"></a>      
            <h3><a href="kinh-in-ceramic-ceramic-printing-glass/" title="Kính in Ceramic - Ceramic printing glass">Kính in Ceramic - Ceramic printing glass</a></h3>
            <div class="mota">Không phải sơn, không khắc, ghép, dán, mà Chỉ có thể là in - đó là nét độc đáo của Kính In Hoa Văn Mang thuong hiệu GLASSO</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-son-mau-painted-glass-splashback/" title="KÍNH SƠN MÀU- Painted glass splashback"><img src="images/glasso-kinh-mau5449_170x130.jpg" alt="KÍNH SƠN MÀU- Painted glass splashback"></a>      
            <h3><a href="kinh-son-mau-painted-glass-splashback/" title="KÍNH SƠN MÀU- Painted glass splashback">KÍNH SƠN MÀU- Painted glass splashback</a></h3>
            <div class="mota">Kính sơn màu là sự lựa chọn hàng đầu đối với những công trình hiện đại, thay thế vật liệu ốp lát bởi những ưu điểm vượt trội.</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="spa-quynh-nhu-137/" title="SPA QUỲNH NHƯ 137"><img src="images/43092_170x130.jpg" alt="SPA QUỲNH NHƯ 137"></a>      
            <h3><a href="spa-quynh-nhu-137/" title="SPA QUỲNH NHƯ 137">SPA QUỲNH NHƯ 137</a></h3>
            <div class="mota">Không gian sang trọng, kết hợp với sắc Tím từ kính màu GLASSO, khách hàng đến spa Quỳnh Như (Tân Bình, HCM)sẽ có được trải nghiệm tuyệt vời</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="vp-puma-binh-duong/" title="VP PUMA BÌNH DƯƠNG"><img src="images/vp-puma-binh-duong322195_170x130.jpg" alt="VP PUMA BÌNH DƯƠNG"></a>      
            <h3><a href="vp-puma-binh-duong/" title="VP PUMA BÌNH DƯƠNG">VP PUMA BÌNH DƯƠNG</a></h3>
            <div class="mota">GLASSO đã hoàn thành dự án tại văn phòng Puma Bình Dương sơm hơn tiến độ đề ra, dưới đây là một số hình ảnh tiêu biểu...</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
    </div><!---END .wap_box_new-->
<div class="clear"></div>
</div><!---END .box_container--> 
    </div><!---END #main_content-->
    
    
    
        
    

<% include footer.ejs%>