<% include header.ejs %>
           
    
    <div id="main_content">
        <div class="tieude_giua"><div>Vật liệu</div><span></span></div>
<div class="box_container">
<div class="wap_box_new">
 	        <div class="box_news">
            <a href="kinh-phan-quang-reflective-glass/" title="Kính phản quang - Reflective glass"><img src="images/kinh-phan-quang-13030_170x130.jpg" alt="Kính phản quang - Reflective glass"></a>      
            <h3><a href="kinh-phan-quang-reflective-glass/" title="Kính phản quang - Reflective glass">Kính phản quang - Reflective glass</a></h3>
            <div class="mota">Là loại kính được phủ lên một loại hóa chất đặc biệt có tính năng phản xạ ánh sáng, tia tử ngoại làm hại con người, cách nhiệt lý tưởng, nhưng vẫn đảm bảo độ sáng tối đa và độ thấu quang cho căn phòng.</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-hop-insulating-glass/" title="Kính hộp - Insulating Glass"><img src="images/kinh-hop-15763_170x130.jpg" alt="Kính hộp - Insulating Glass"></a>      
            <h3><a href="kinh-hop-insulating-glass/" title="Kính hộp - Insulating Glass">Kính hộp - Insulating Glass</a></h3>
            <div class="mota">Kính hộp được sử dụng hầu hết cho các dạng công trình như: cao ốc văn phòng, trung tâm thương mại, các công trình đòi hỏi sự kiểm sóat nghiêm ngặt về nhiệt độ và tiếng ồn.</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-can-nhiet-lowe/" title="KÍNH CẢN NHIỆT (LOW-E)"><img src="images/kinh-can-nhiet3835_170x130.jpg" alt="KÍNH CẢN NHIỆT (LOW-E)"></a>      
            <h3><a href="kinh-can-nhiet-lowe/" title="KÍNH CẢN NHIỆT (LOW-E)">KÍNH CẢN NHIỆT (LOW-E)</a></h3>
            <div class="mota">Kính Low-E là loại kính được phủ lên bề mặt một loại hợp chất đặc biệt giúp kính có tính năng phát xạ nhiệt chậm, làm giảm sự phát tán, hấp thụ nhiệt lượng chậm và làm chậm quá trình truyền tải nhiệt nhưng vẫn đảm bảo độ...</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-cuong-luc-tempered-glass/" title="Kính cường lực – Tempered glass"><img src="images/kinh-cuong-luc6434_170x130.jpg" alt="Kính cường lực – Tempered glass"></a>      
            <h3><a href="kinh-cuong-luc-tempered-glass/" title="Kính cường lực – Tempered glass">Kính cường lực – Tempered glass</a></h3>
            <div class="mota">Kính cường lực được sản xuất theo phương pháp gia cường dao động ngang trên dây chuyền công nghệ hiện đại theo tiêu chuẩn châu âu. </div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
            <div class="box_news">
            <a href="kinh-ghep-lamilated-glass/" title="Kính ghép- Lamilated glass "><img src="images/kinh-ghep-14424_170x130.jpg" alt="Kính ghép- Lamilated glass "></a>      
            <h3><a href="kinh-ghep-lamilated-glass/" title="Kính ghép- Lamilated glass ">Kính ghép- Lamilated glass </a></h3>
            <div class="mota">Gồm 2 hay nhiều lớp kính được dán với nhau bởi lớp phim PVB. Phim dán bao gồm các loại: Phim trong, phim màu với độ dày chuẩn thông dụng: 0,38mm; 0,76mm; 1,52mm.</div>  
            <div class="clear"></div>         
        </div><!---END .box_new--> 
    </div><!---END .wap_box_new-->
<div class="clear"></div>
</div><!---END .box_container--> 
    </div><!---END #main_content-->
    
    
    
        
<% include footer.ejs%>