<% include header.ejs%>
<script>
    $(document).ready(function(){
        $('ul#menu_task>li').each(function(e){
            $('ul#menu_task>li:eq('+e+')>a').removeClass('active');
        })
        $('a#tintuc').addClass('active');
    })
</script>
<div id="main_content">
    <div class="tieude_giua"><div>Một Số Công Trình Nổi Bật Trong Vài Năm Qua</div><span></span></div>
    <div class="box_container">
        <div class="content">
            <p style="text-align:center">
                <% for(var i =0;i<result.length;i++){%>


                <img alt="CÔNG TY TNHH TTCOMPANY" height="2408" src="  <%= result[i] %>" width="1600"></p>
            <%}%>
            <p>&nbsp;</p>

        </div><!--.content-->
    </div><!--.box_container-->

</div>
    
<% include footer.ejs%>